<nav>
  <div class="nav-container d-flex align-items-center" style="background-color: rgba(0, 55, 123, 0.93);">
    <div class="nav-logo">
      <img src="logo.svg" style="width: 150px; height: 50px; margin:10px;" alt="logo" />
    </div>
    <div class="nav-title" style="color: white; font-size: 1rem; font-family: 'Be Vietnam Pro', sans-serif; margin-left: 10px; font-weight: 400;">
      Sakarya Üniversitesi <br> Bilgisayar ve Bilişim Bilimleri Fakültesi
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
