/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Prevent scrolling on the body/html */
  font-family: Arial, sans-serif; /* Example base font */
}

app-root {
  display: block; /* Or flex, depending on direct children management */
  height: 100%;
}
